# {{ ansible_managed }}

deb https://download.astralinux.ru/aldpro/stable/repository-main/ {{ aldpro_version }} main 
deb https://download.astralinux.ru/aldpro/stable/repository-extended/ generic main